MODE=debug
SERVICE_NAME=ticket-service
HTTP_PORT=XXXX
JWT_SECREAT=XXXXXXXXXXXXXXXXXX

DB_HOST="127.0.0.1"
DB_PORT=XXXX
DB_NAME="XXXXX"
DB_USER="XXX"
DB_PASS="XXX"
MAX_IDLE_TIME_IN_MINUTE=XX
ENABLE_SSL_MODE=XXX

MIGRATION_SOURCE= "./XXXXXXXXXX"